.containerr{
    background: white;
    height: 80vh;
    width: 70vw;
    border-radius: 20px;
}

.img{
    border-radius: 20px 0 0 20px;
    max-height: 100%;
}

.right{
    flex: 1;
}

.right {
    align-items: center;
    color: #000c;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding-top: 20px;
    width:100%
}

.hoverstate:hover .arrow{
    translate: 8px;
}

.hoverstate:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.361);
}

.hoverstate{
    align-items: center;
    background: #000c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-top: -2rem;
    padding-block: 10px;
    padding-inline:15px
}
.arrow{
    transition: 0.2s ease-in;
}

@media (max-width: 1350px) {
    .left {
        display:none
    }
}

.movietitle{
    font-family: Playfair Display, serif;
    font-size: 4em;
    font-weight:800;
    text-align: center;
}

.overview{
    font-size: 1.2em;
    height: 50%;
    overflow: auto;
    padding-bottom: 5px;
    padding-right: 10px;
    width:80%
}

.hoverstate, .overview{
    font-family:Roboto, sans-serif;
}

.formPage{
    align-items: center;
    background: #fafafa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    height: 90vh;
    min-width: 300px;
    padding: 10px;
    width: 35vw;
    z-index:10
}


@media (max-width: 400px){
    .containerr{
        height: 90vh;
        width: 90vw;
    }
}

@media (max-width: 1000px) {
    .movietitle{
        font-size: 2em;
    }
    .overview{
        font-size: 1.1em;
    }
}